{% extends "base.html" %}

{% block title %}About - Museum App{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">About the Museum</h1>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">
                        This museum app was created to provide a digital platform for managing and showcasing
                        our museum's collections, artists, and visitor information.
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Features</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Artist database management</li>
                        <li class="list-group-item">Exhibition scheduling</li>
                        <li class="list-group-item">Visitor tracking</li>
                        <li class="list-group-item">Interactive displays</li>
                    </ul>
                </div>
            </div>

            <div class="text-center mt-4">
                <a href="/" class="btn btn-dark">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{#<!doctype html>#}
{#<html>#}
{#<head><title>About</title></head>#}
{#<body>#}
{#  <h1>About the Museum</h1>#}
{#  <p>This is a demo museum app created with Flask.</p>#}
{#  <a href="/">Back to Home</a>#}
{#</body>#}
{#</html>#}
